{% extends 'base/base.html' %}
{% load static %}
{% block title %}{{ store.name }} | DijiKala{% endblock %}

{% block content %}
<div class="store-header">
    <h2>{{ store.name }}</h2>
    <p>{{ store.description }}</p>

    {% if user == store.owner %}

        <a href="{% url 'add_product' store_id=store.id %}" class="btn">+ Add Product</a>
        
    {% endif %}
</div>

<hr>

<div class="card-grid">
    {% for product in products %}
        <div class="card">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            {% else %}
                <img src="{% static 'images/default_product.jpg' %}" alt="No image">
            {% endif %}
            {% if product.category %}
                <span class="badge">{{ product.category.name }}</span>
            {% endif %}
            <h3>{{ product.name }}</h3>
            <p>{{ product.description|truncatewords:12 }}</p>
            <p><strong>{{ product.price }} تومان</strong></p>
            <p><small>Stock: {{ product.stock }}</small></p>
            {% if user.is_authenticated %}
                <a href="{% url 'add_to_cart' product.id %}" class="btn">Add to Cart</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn">Login to Buy</a>
            {% endif %}
        </div>
    {% empty %}
        <p>No products in this store yet.</p>
    {% endfor %}
</div>
{% endblock %}
